<%# to make home page work for now %>
<%# <% @shelves = ["All books", "Read", "Unread", "My epic novels shelf", "The Fifth Shelf", "Another shelf", "The Last Shelf"] %>
<%# <% @shelf_books = [0,1,2,3,4,5,6,7,8,9,10,11,12] %>

<div class="container py-3">
  <% if current_user %>
    <%= render "shared/search_bar", placeholder: "Search in your library..." %>
    <div class="mb-2">
      <h2 class="mb-3">Your shelves</h2>
      <% @shelves.each do |shelf| %>
        <h3><%= link_to shelf.name, shelf_path(shelf) %></h3>
        <div class="d-flex flex-nowrap overflow-x-scroll scroll-hide mb-3">

          <% if shelf.shelf_books.any? %>
            <% shelf.shelf_books.each do |shelf_book| %>
              <div class="flex-shrink-0">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#bookCardModal">
                  <img src="<%= shelf_book.image_link %>" alt="Book cover for <%= shelf_book.title %> by <%= shelf_book.author %>" height="200px" class="shadow-sm rounded-3">
                </button>
              </div>
              <%= render "books/modal", book: shelf_book %>
            <% end %>
          <% else %>
            <p class="lead">This shelf is currently empty.</p>
          <% end %>

        </div>
      <% end %>
    </div>
  <% else %>
    <h1>You aren't logged in</h1>
    <div class="d-flex mx-2">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-primary me-2" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary me-2" %>
    </div>
  <% end %>
</div>
