  <div class="justify-content-center edit-container col-11 ">

    <div class="col-12">
      <div class="text-center mt-3 mb-3">
        <h2>Name your new shelf</h2>
      </div>

      <div class="m-2">
        <% if params[:book_id].present? %>
          <%= simple_form_for @shelf, url: shelves_path(book_id: params[:book_id]) do |f| %>
            <%= f.input :name %>
            <%= f.submit "Build shelf", class:"btn btn-primary" %>
          <% end %>

        <% else %>
          <%= simple_form_for @shelf do |f| %>
            <%= f.input :name %>
            <div class="d-flex justify-content-center">
              <%= f.submit "Create shelf", class:"btn btn-primary rounded-pill" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
