 <% content_for :meta_title, "Bookwise | Book Directory " %>

<%= link_to "Back", :back, class: "btn btn-sm btn-outline-primary m-4"%>
<div class="px-3">

  <div class="d-flex align-items-center justify-content-between m-4">
    <h1>Bookwise Book Directory</h1>
  </div>

  <div class="d-flex flex-wrap align-items-center justify-content-center">
    <% @books.each do |book| %>
      <div class="d-flex flex-column align-items-center">

        <div class="book-cover-wrapper m-3">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#bookCardModal<%= book.id%>">
            <div class="book-shell">
              <img src="<%= book.image_link %>" alt="Book cover for <%= book.title %> by <%= book.author %>" class="book-cover">
            </div>
          </button>
          <%= render "books/modal", book: book %>
        </div>
        <div class="bookshelf-shelves">
        </div>
      </div>
    <% end %>
  </div>

</div>
