<%= link_to "Back", :back, class: "btn btn-sm btn-outline-primary m-4"%>
<div class="px-3">

  <div class="d-flex align-items-center justify-content-between m-4">
    <h1>Bookwise Book Directory</h1>
  </div>

  <div class="d-flex flex-wrap">
    <% @books.each do |book| %>
      <div class="">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#bookCardModal">
          <img src="<%= book.image_link %>" alt="Book cover for <%= book.title %> by <%= book.author %>" height="300px" class="shadow-sm rounded-3">
        </button>
      </div>
      <%= render "books/books_modal", book: book %>
    <% end %>
  </div>

</div>
