<%= link_to "Back", :back, class: "btn btn-sm btn-outline-primary mt-4 ms-4"%>
<div class="container py-3">
  <div>
    <h1 class="text-center pb-2">My Library</h1>
  </div>
  <div class="container pb-4" data-controller="user-books-index">
    <h2>My Shelves</h2>
    <div class="shelves-grid">
      <!-- first 5 shelves -->
      <% @shelves.each do |shelf| %>
        <div class="shelf-card">
          <%= link_to shelf_path(shelf), class: "shelf-card-link" do %>
            <h3 class="mb-1"><%= shelf.name %></h3>
            <p class="mb-0 text-muted">
              <%= pluralize(shelf.shelf_books.count, "book") %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container" data-controller="user-books-index">
    <h2>My Books</h2>
    <div class="d-flex justify-content-between align-items-center">
    </div>
    <div class="row mb-3">
      <div class="col-md py-3 me-3">
        <button type="button" class="btn btn-outline-primary active rounded-pill" data-bs-toggle="button" aria-pressed="true" data-user-books-index-target="allBooks" data-action="click->user-books-index#showAllBooks">All books</button>
        <button type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="button" data-user-books-index-target="readBooks" data-action="click->user-books-index#toggleReadBooks">Read</button>
        <button type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="button" data-user-books-index-target="unreadBooks" data-action="click->user-books-index#toggleUnreadBooks">Unread</button>
      </div>
      <div class="col-md search-wrapper">
        <%= render "userbooks_search_bar", placeholder: "search my library" %>
      </div>
    </div>

    <div class="mb-2 row">
      <% @user_books.each do |user_book| %>


        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-3" style="height: 250px" data-controller="book-card" data-user-books-index-target="book" data-status="<%= user_book.status %>">
          <button type="button" class="btn h-100 w-100" data-bs-toggle="modal" data-bs-target="#bookCardModal<%= user_book.book.id %>">
            <div class="shadow rounded-3 h-100 row justify-content-between align-items-center">
              <div class="col-4 h-100 ps-0">
                <div class="shadow rounded-3 h-100 w-100 border position-relative">
                  <% if user_book.status == "read"%>
                    <div class="bg-light border border-top-0 rounded-bottom-3 p-1 position-absolute top-0 end-5">
                      <i class="fa-solid fa-circle-check fa-lg text-success"></i>
                    </div>
                  <% end %>
                  <%= image_tag user_book.book.image_link,
                        class: "object-fit-cover h-100 w-100",
                        alt: "Book Cover For #{user_book.book.title} by #{user_book.book.author}" %>
                </div>
              </div>

              <div class="col-7 h-100 px-0 py-3 d-flex flex-column test-border">
                <div class="flex-grow-4 flex-shrink-4 overflow-hidden test-border">
                  <h5 class="mb-1"><%= "#{user_book.book.title[..50]}#{"..." if user_book.book.title[51]}" %></h5>
                  <h6 class="mb-1"><%= user_book.book.author %></h6>
                </div>
                <p class="mb-1 flex-grow-6 flex-shrink-6 test-border overflow-hidden"
                  data-book-card-target="description"><%= "#{user_book.book.description[..150]}#{"..." if user_book.book.description[151]}" unless user_book.book.description.nil? %></p>
                <div class="d-flex overflow-x-scroll scroll-hide flex-nowrap py-1 test-border">
                  <% user_book.book.tags.each do |tag| %>
                    <span class="badge rounded-pill text-bg-primary me-1"><%= tag.name %></span>
                  <% end %>
                </div>
              </div>

              <div class="col-1 px-1">
                <i class="fa-solid fa-circle-plus fa-2xl" data-bs-toggle="modal" data-bs-target="#addToShelfModal<%= user_book.book.id %>"></i>
              </div>
            </div>
          </button>
        </div>


      <div class="modal fade" id="bookCardModal<%= user_book.book_id %>" tabindex="-1" aria-labelledby="bookCardModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <%= render "books/user_books_modal", book: user_book.book %>
            </div>
          </div>
        </div>
      </div>

        <div class="modal fade" id="addToShelfModal<%= user_book.book_id %>" tabindex="-1" aria-labelledby="addToShelfModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="addToShelfModalLabel">Which shelf do you want to add this book to?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <% @shelves.each do |shelf| %>
                  <div class="shadow rounded-3 p-3 mb-3">
                    <h4 class="m-0 text-center text-dark-emphasis d-flex justify-content-between"><%= shelf.name %>
                      <%= button_to add_to_collection_shelves_path,
                                    method: :post,
                                    params: { shelf_id: shelf, book_id: user_book.book },
                                    class: "p-0 border-0 bg-transparent w-100" do %>
                        <i class="fa-solid fa-circle-plus fa-2xl"></i>
                      <% end %>
                    </h4>
                  </div>
                <% end %>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
