<div class="container py-3">
  <%= render "shared/search_bar", placeholder: "What do you want to search for?" %>

  <div class="mb-2 pt-3">
    <% if @current_query.blank? %>
    <h5 class="text-left">No results found. Type a keyword to search for a book.</h5>
    <% else %>
    <h5 class="text-left">Search Results - <strong><%= @current_query.capitalize %></strong></h5>
    <% end %>
  </div>



  <div class="mb-2 row">
    <% @books.each do |book| %>


    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-3" style="height: 200px" data-controller="book-card">
      <button type="button" class="btn h-100 w-100" data-bs-toggle="modal" data-bs-target="#bookCardModal<%= book.id %>">
        <div class="shadow rounded-3 h-100 row justify-content-between align-items-center">
          <div class="col-4 h-100">
            <div class="shadow rounded-3 h-100 w-100 border">
              <%= image_tag book.image_link,
                    class: "object-fit-cover h-100 w-100",
                    alt: "Book Cover For #{book.title}" %>
            </div>
          </div>

          <div class="col-7 h-100 px-0 d-flex flex-column test-border">
            <div class="flex-grow-4 flex-shrink-4 overflow-hidden test-border">
              <h5 class="mb-1"><%= "#{book.title[..50]}#{"..." if book.title[51]}" %></h5>
              <h6 class="mb-1"><%= book.author %></h6>
            </div>
            <p class="mb-1 flex-grow-6 flex-shrink-6 test-border overflow-hidden"
              data-book-card-target="description"><%= "#{book.description[..150]}#{"..." if book.description[151]}" unless book.description.nil? %></p>
            <div class="d-flex overflow-x-scroll scroll-hide flex-nowrap py-1 test-border">
              <% book.tags.each do |tag| %>
                <span class="badge rounded-pill text-bg-primary me-1"><%= tag.name %></span>
              <% end %>
            </div>
          </div>

          <div class="col-1 px-0">
            <i class="fa-solid fa-circle-plus fa-2xl" data-bs-toggle="modal" data-bs-target="#addToShelfModal<%= book.id %>"></i>
          </div>
        </div>
      </button>
    </div>


    <div class="modal fade" id="bookCardModal<%= book.id %>" tabindex="-1" aria-labelledby="bookCardModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <% if current_user %>
            <%= render "books/book_logged_in", book: book %>
          <% else %>
            <%= render "books/book_logged_out", book: book %>
          <% end %>

        </div>
      </div>
    </div>


    <div class="modal fade" id="addToShelfModal<%= book.id %>" tabindex="-1" aria-labelledby="addToShelfModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addToShelfModalLabel">Which shelf do you want to add this book to?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="shadow rounded-3 p-3 mb-3">
              <h4 class="m-0 text-center text-dark-emphasis d-flex justify-content-between">My Library
                <%= button_to add_to_library_user_books_path,
                              method: :post,
                              params: { book_id: book },
                              class: "p-0 border-0 bg-transparent w-100" do %>
                  <i class="fa-solid fa-circle-plus fa-2xl"></i>
                <% end %>
              </h4>
            </div>
            <% @shelves.each do |shelf| %>
              <div class="shadow rounded-3 p-3 mb-3">
                <h4 class="m-0 text-center text-dark-emphasis d-flex justify-content-between"><%= shelf.name %>
                  <%= button_to add_to_collection_shelves_path,
                                method: :post,
                                params: { shelf_id: shelf, book_id: book },
                                class: "p-0 border-0 bg-transparent w-100" do %>
                    <i class="fa-solid fa-circle-plus fa-2xl"></i>
                  <% end %>
                </h4>
              </div>
            <% end %>
              <%= link_to 'Create new shelf', new_shelf_path(book_id: book.id), class: "btn btn-primary btn-create" %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <% end %>
  </div>

</div>
