<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <meta property=”og:title” content=”<%= meta_title %>” />
      <meta property=”og:type” content=”website” />
      <meta property=”og:url” content=”<%= request.original_url %>” />
      <meta property=”og:image” content=”<%= meta_image %>” />
      <meta property=”og:description” content=”<%= meta_description %>” />
      <meta property=”og:site_name” content=”<%= meta_title %>” />


      <meta name=”twitter:card” content=”summary_large_image”>
      <meta name=”twitter:title” content=”<%= meta_title %>”>
      <meta name=”twitter:description” content=”<%= meta_description %>”>
      <meta name=”twitter:image:src” content=”<%= meta_image %>”>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
  </head>

  <body class="mb-5" >
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
